#
# configure for makefile
# Copyright (C) 2008, NEW POS TECHNOLOGY LIMITED
# All rights reserved.
# http://www.newpostech.com
# Written by LiHua <linua_338@163.com>
#

ifndef CROSS_COMPILE
	CROSS_COMPILE	=	C:/ArmToolchain/bin/arm-linux-uclibc-
endif

ifndef TOOL_PATH
	TOOL_PATH	=	$(dir $(CROSS_COMPILE)gcc)
endif

ifndef PRIVATE_KEY
	PRIVATE_KEY	=	D:/POS8110/PubKey/AS_KEY.key
endif

ifdef V
	ifeq ("$(origin V)", "command line")
		KBUILD_VERBOSE = $(V)
	endif
endif

ifndef KBUILD_VERBOSE
	KBUILD_VERBOSE = 0
endif

ifeq ($(KBUILD_VERBOSE),0)
	quiet = quiet_
	Q = @
else
	quiet =
	Q =
endif
